<h1>O aplikaciji</h1>
<h3>Opis naloge</h3>
<p>App naj izpiše vse uporabnike, omogoča naj dodajanje uporabnika, urejanje uporabnika in brisanje uporabnika.</p>
<p>Uporabnik naj ima email, ime in vlogo (email, name, role).</p>
<p>Aplikacija naj bo narejena s pomočjo Backbone.js + Marionette.js, za predloge uporabi Handlebars.</p>
<p>Router nastavi na nekaj preprostega, ki naj sledi funkcionalnosti aplikacije, recimo: #users, #users/1,...</p>
<p>Uporabi collection/composite view za liste.</p>
<p>Aplikacijo naredi lepo in uporabno kolikor se ti zdi ustrezno, čisto po lastni presoji.</p>

<hr />
<p>Avtor: Jure Mav</p>