<form>
  <div class="control-group">
    <label for="contact-name" class="control-label">Ime:</label>
    <input id="contact-name" name="name" type="text" value="{{name}}"/>
  </div>
  <div class="control-group">
    <label for="contact-email" class="control-label">E-naslov:</label>
    <input id="contact-email" name="email" type="text" value="{{email}}"/>
  </div>
  <div class="control-group">
    <label for="contact-role" class="control-label">Vloga:</label>
    <input id="contact-role" name="role" type="text" value="{{role}}"/>
  </div>
  <button class="btn js-submit">Shrani</button>
</form>