<td>{{name}}</td>
<td>{{email}}</td>
<td>{{role}}</td>
<td>
    <a href="#contacts/{{id}}" class="btn btn-small js-show">
        <i class="icon-eye-open"></i>
        Podrobnosti
    </a>
    <a href="#contacts/{{id}}/edit" class="btn btn-small js-edit">
        <i class="icon-pencil"></i>
        Uredi
    </a>
    <button class="btn btn-small js-delete">
        <i class="icon-remove"></i>
        Odstrani
    </button>
</td>