<h1>{{name}}</h1>
<p><strong>E-naslov:</strong> {{email}}</p>
<p><strong>Vloga:</strong> {{role}}</p>
<p><strong>Kreiran:</strong> {{creationDate.date}}</p>
<br />
<a href="#contacts/{{id}}/edit" class="btn btn-small js-edit">
	<i class="icon-pencil"></i>
	Uredi
</a>