<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Users application</title>

    {{#each cssList}}
        <link rel="stylesheet" href="public/{{this}}"/>
    {{/each}}

    <script type="text/javascript">
      apiUrl = "{{apiUrl}}";
    </script>
  </head>

  <body>

    <div id="navigation-region"></div>

    <div id="main-region" class="container">
      <p>Čakam na vsebino :)</p>
    </div>

    <div id="dialog-region"></div>


    {{#each templates}}
        <script type="text/template" id="{{name}}">
            {{{content}}}
        </script>
    {{/each}}

    {{#each jsList}}
        <script type="text/javascript" src="public/{{this}}"></script>
    {{/each}}


    <script type="text/javascript">
      UsersRootApp.start();
    </script>

  </body>
</html>
